@font-face {
    font-family: 'kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}

body {
    font-family: 'kanit';

        background-color: lavender;
        color: navy;
    }
    h2 {
        color: crimson;
}

.container {
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    padding: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
}
.header{
    font-size: 50px;
    position: relative;
    top: -20px;
    text-align: center;
    margin-bottom: 20px;
}
.header-form {
    width: 140px;
}
.flex {
    display: flex;
}
.form_input {
    margin-bottom: 10px;
}
input.form, textarea {
    border: 1px solid black;
    width: 100%;
}

input[type="text"], input[type="number"], textarea {
    width: 300px;  /* ปรับความกว้าง */
    height: 25px;  /* ปรับความสูง */
    font-size: 20px; /* ขยายตัวอักษรให้ชัดขึ้น */
    padding: 5px;  /* เพิ่มช่องว่างด้านใน */
    border-radius: 5px;  /* ทำให้มีมุมโค้ง */

}


.center{
    text-align: center;
}
.button {
    border: 0;
    width: 50%;
    font-size: 20px;
    background-color: aqua;
    height: 50px;
}

label {
    display: block;      /* ทำให้ label เป็นบล็อก เพื่อให้ขึ้นบรรทัดใหม่ */
    margin-bottom: 10px; /* เพิ่มระยะห่างด้านล่าง */
}

textarea {
    display: block; /* ทำให้ textarea อยู่คนละบรรทัด */
    width: 100%; /* ปรับให้กว้างเต็มพื้นที่ */
    height: 100px; /* ปรับความสูง */
}

input, textarea, select {
    margin-bottom: 10px; /* เพิ่มระยะห่างระหว่าง input */
}

.message {
    margin-top: 20px;
    padding: 10px;
    background-color: lightgray;
    display: none;
}

.message.success {
    background-color: lightgreen;
    display: block;
}

.message.danger{
    background-color: lightcoral;
    display: block;
}

.user-management-container {
    text-align: center;  /* จัดให้อยู่ตรงกลาง */
    margin-top: 20px;  /* เว้นระยะห่างจากปุ่ม */
}

.user-management-link {
    border: 2px solid rgb(51, 46, 46); /* กรอบสีดำ */
    background-color: rgb(119, 180, 215); /* พื้นหลังสีเทา */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

a:hover {
    background-color: yellow; /* เปลี่ยนสีพื้นหลังเมื่อชี้เมาส์ */
    color: red; /* เปลี่ยนสีตัวอักษร */
}


@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
    .header{
        font-size: 24px;
    }
    .button {
        width: 100%;
    }
}
